*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#toast{
    position: fixed;
    top: 32px;
    right:32px;
}
.toast{
    display: flex;
    align-items:center;
    background: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
    padding: 20px 0px;
    min-width: 400px;
    width: 500px;
    min-height: 100px;
    
    animation: slideInLeft ease .3s, fadeOut linear 1s 3s forwards;
}
@keyframes slideInLeft {
    from{
        opacity: 0;
        transform: translateX(120%);
    }
    to{ 
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut{
    to{
        opacity: 0;
    }
}
.toast + .toast{
    margin: 20px;
}
.toast-success{
    border-color: #4cd137;
}
.toast-success .toast__icon{
    color: #4cd137;
}
.toast-warning{
    border-color: #f6b93b;

}
.toast-warning .toast__icon{
    color: #f6b93b;
}
.toast-error{
    border-color: #eb2f06;

}
.toast-error .toast__icon{
    color: #eb2f06;
}
.toast__icon{
    font-size: 24px;
}
.toast__icon,
.toast__close{
    padding: 0 16px;
}
.toast__body{
    flex-grow: 1;
}
.toast__title{
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.toast__msg{
    font-size:14px;
    margin-top: 5px;
    font-weight: 400;
}
.toast__close{
    font-size: 20px;
    color:black;
    cursor: pointer;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.btn--success{
    color: #fff;
    background:#4cd137;
    width: 200px;
    height: 70px;
    border-radius: 30px;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
    cursor: pointer;
}
.btn--error{
    color: #fff;
    background:#eb2f06;
    width: 200px;
    height: 70px;
    border-radius: 30px;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
    cursor: pointer;
}